.container-fluid {
  background: #f8f9fa;
}
.card {
  border-radius: 1rem;
}
.logo-text {
  font-weight: bold;
  color: #e50914;
}
.btn-primary {
  background-color: #e50914;
  border: none;
}
.btn-primary:disabled {
  background-color: #b20710;
}
